<div class="ui bottom fixed menu">
  <div class="ui container">
    <div class="item">
      {{#link-to "entries.new" class="ui basic blue icon large button"}}
        <i class="icon plus"></i>
        {{if isDesktop "New"}}
      {{/link-to}}
    </div>
    <div class="item">
      {{ui-checkbox
          label="Show archived"
          checked=selection.showArchived
          onChange=(action (mut selection.showArchived))}}
    </div>
    {{#if selection.allTags}}
      <div class="item">
        {{tag-selector tags=selection.allTags}}
      </div>
    {{/if}}
  </div>
</div>
