<div class="ui inverted large top fixed menu">
  {{#link-to "entries" class="item"}}
    <i class="newspaper big icon"></i>
  {{/link-to}}
{{#if session.isAuthenticated}}
  <div class="right menu">
    <div class="item">{{session.data.currentUser.email}}</div>
    <div class="item">
      <a class="ui inverted button" {{action "invalidateSession"}}>Logout</a>
    </div>
  </div>
{{/if}}
</div>

<div class="ui main container">
{{outlet}}
</div>
