<div class="ui one statistics">
  <div class="ui huge blue statistic">
    <div class="value">
      404
    </div>
    <div class="label">
      That resource cannot be found!
    </div>
  </div>
</div>
