{{one-way-input
  value=(get changeset propertyName)
  update=(action "update")}}
{{#if (get changeset.error propertyName)}}
<div class="ui error message">
  <ul>
  {{#each (get (get changeset.error propertyName) "validation") as |error|}}
    <li>{{error}}</li>
  {{/each}}
  </ul>
</div>
{{/if}}
